<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ssdev="http://www.bsoft.com.cn/schema/ssdev"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans.xsd         
	http://www.bsoft.com.cn/schema/ssdev
	http://www.bsoft.com.cn/schema/ssdev/ssdev.xsd">
	<ssdev:applicationDomain name="chis" registryAddress="zookeeper://localhost:2181" rpcServerWorkUrl="hessian://localhost:8081/" enableLogger="false"/>
	<bean id="loggerService" class="ctd.net.rpc.logger.service.LocalLoggerService" />
	<ssdev:logger service="loggerService" statCheckDelayTime="10" sendRetryTimes="5" sendCheckDelayTime="5" sendMaxStayTime="5" sendBatchSize="1"/>
	
	<bean id="hello2" class="ctd.test.hotswap.DynBean" >
		<property name="name" value="sean"></property>
	</bean>
	<ssdev:service ref="hello2" /> 
</beans>