<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ssdev="http://www.bsoft.com.cn/schema/ssdev"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans.xsd         
	http://www.bsoft.com.cn/schema/ssdev
	http://www.bsoft.com.cn/schema/ssdev/ssdev.xsd">
	<ssdev:applicationDomain name="esb" registryAddress="zookeeper://localhost:2181" rpcServerWorkUrl="hessian://localhost:8080/itourstepWeb/hs"/>
	
	<ssdev:reference id="chis.dictionaryLoader" interface="ctd.controller.ConfigurableLoader" />
	<bean id="dictionaryController" class="ctd.dictionary.DictionaryController" >
		<property name="loader" ref="chis.dictionaryLoader"></property>
	</bean>
	 
	<bean id="publisherMessageStore" class="ctd.net.rpc.pub.support.BlockingQueueMessageStore" />
	<bean id="publisher" class="ctd.net.rpc.pub.Publisher"  init-method="startWork" destroy-method="shutdown">
		<property name="store" ref="publisherMessageStore"/>
	</bean>
	
</beans>
